:root {
  --black: #000;
  --blue: #08c;
  --grey: #6e6e6e;
  --white: #fff;
}

html,
body {
  font-family: Lucida Sans Unicode;
  margin: 0;
  padding: 0;
}

/**
*
* Helpers
*
*/
.text-center {
  text-align: center;
}
.text-capitalize {
  text-transform: capitalize;
}
.text--uppercase {
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
}
.d-flex {
  display: flex;
}

.text--sm {
  font-size: 10px;
  font-weight: 12px;
}
.text--md {
  font-size: 14px;
}

/**
*
* intro
* 
*/
.intro {
  background-image: url(images/your_verse_hero_2x.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 1440px, 1315px;
  color: var(--white);
  height: 70vh;
  margin-bottom: 3px;
  min-height: 538px;
}
.intro__content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 870px;
}
.intro__content h1 {
  margin: 0 0 0.5rem 0;
  font-family: "Source Sans Pro";
  font-size: 65px;
}
.intro__content p {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 34px;
  margin: 0 0 1.7rem 0;
}
.intro__content a {
  font-family: "Source Sans Pro";
  font-weight: 200;
  color: var(--white);
  font-size: 28px;
  text-decoration: none;
}
.intro__content a:hover {
  text-decoration: underline;
}

/**
*
* header
* 
*/
.header {
  color: var(--white);
}
.header__nav {
  margin: 0 auto;
  padding-top: 84px;
  width: 980px;
}
.header__list {
  align-items: center;
  /* background-color: cadetblue; */
  background: linear-gradient(to top, #858585 50%, #6e6e6e 50%);
  border-radius: 4px;
  display: flex;
  height: 38px;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header__list li {
  
}
.header__list a {
  color: var(--white);
  text-shadow: 0 1px 1px var(--black);
  text-decoration: none;
}
.header__title {
  font-family: "Lucida Sans Unicode";
  font-size: 60px;
  font-weight: 200;
  margin: 0;
}
.header__list input {
  width: 106px;
  border-radius: 12px;
  background-color: transparent;
}

/**
*
* image row
* 
*/
.image-row {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.image-row__link {
  display: inline-block;
}
.image-row__image {
  height: 200px;
  object-fit: cover;
  width: 358px;
}

/**
*
* footer
* 
*/
.footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 980px;
}
.footer p,
.footer ul {
  color: var(--grey);
  margin: 0;
  padding-top: 1.3em;
}
.footer__nav {
  flex: 0 0 51%;
}
.footer__description {
  flex: 0 0 49%;
}
.footer__nav,
.footer__description {
  width: 100%;
}
.footer__nav-list {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__nav-list li {
  border-right: 1px solid var(--grey);
  padding: 0 6px;
}
.footer__nav-list li:last-child {
  border-right: none;
  padding-left: 6px;
  padding-right: 0;
}
.footer a {
  color: var(--blue);
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
